*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 150px;
    font-weight: 900;
    font-size: 20px;
}
.logo img{
    height: 25px;
    width: 130px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu a{
    text-decoration: none;
    margin: 0 30px;
    color: black;
}
.hire a{
    color: white;
    background-color: blue;
    padding: 8px 25px;
    border-radius: 7px;
}
.s1{
    display: flex;
    margin: 40px 150px;
}
.s1l{
    width: 42%;
    margin-top: 105px;
}
.s1l h1{
    font-size: 50px;
}
.s1l p{
    margin: 50px 0;
}
.s1l a{
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    border-radius: 7px;
    font-size: 20px;
}
.s1r img{
    width: 500px;
    margin-left: 150px;
    margin-top: 50px;
}
.s2{
    margin-top: 100px;
    text-align: center;
}
.s2logo img{
    height: 60px;
    width: 190px;
    margin: 20px;
    margin-top: 60px;
}
.s2l ul{
    display: flex;
}
.s2logo3 img{
    height: 35px; 
    width: 160px;
    margin:35px;
}
.s2logo5 img{
    height: 60px;
    width: 80px;
    margin:25px;
}
.s3h h1{
    margin-top: 120px;
    text-align: center;
    font-size: 60px;
}
.s3boxes{
    display: flex;
    justify-content: center;
    margin-top: 70px;

}
.boximg img{
    height: 150px;
    width: 150px;
}
.s3box{
    width: 280px;
    height: 500px;
    border: 1px solid grey;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    padding-top: 15px ;
}
.boxm h3{
    margin:15px 0;
}
.boxm p{
    margin: 15px px;
}
.p {
    margin: 15px 15px;
}
.boxl ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}
.boxl li{
    background-color: grey;
    margin: 8px 5px;
    padding: 5px 8px;
    color: white;
    border-radius: 20px;
}
.s4{
    margin-top: 100px;
    background: url(images/our-commitment-bg-1.jpeg) scroll no-repeat center / cover;
    height: 100vh;
    width: 100%;
}
.s4 h1{
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
}
.boxess4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    
}
.boxs4{
    width: 22%;
    height: 300px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
}
.boxs4 img{
    width: 100px;
    margin-top: 40px;
}
.fast h3{
    margin-top: 55px;
    color: white;
    font-size: 23px;
}
.fast p{
    margin: 15px 10px 0 10px;
    color: white;
    font-size: 20px;
}
.money h3{
    margin-top: 15px;
    color: white;
    font-size: 23px;
}
.money p{
    margin: 15px 10px 0 10px;
    color: white;
    font-size: 20px;
}
.s5{
    background-color: rgb(221, 254, 254);
    height:100vh;
}
.s5h{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.s5h h1{
    font-size: 55px;
    padding-top: 80px;
    width: 50%;
    
}
.s5c{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
}
.s5c img{
    width: 60px;
}
.s5b{
    width: 25%;
    margin: 30px;
    
}
.s6c{
    display: flex;
    justify-content: space-around;
}
.s6l{
    width: 50%;
}
.s6h h1{
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
}
.s6l img{
    width:600px;
    margin-left: 95px;
    margin-top: 50px;
}
.s6r{
    width: 25%;
    margin-top: 60px;
    margin-right: 170px;
}
.s6r h3{
    font-size: 25px;
}
.s6r p{
    font-weight: 300;
}
.slm{
    margin-top: 60px;
}
.count{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    color: blue;
    border: 10px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 100px;
}
.s6b{
    margin: 30px;

    
}



